/*target body in html*/
body{
    background-color: black;
}

.clr{
    clear:both;
}

/*target class made in html*/
.box1{
    color:white;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;

    line-height: 1.1em;

    /*border, padding, etc can be seperated by border-top, etc*/
    border: 0.2em white solid;

    padding-left:0.4em;
    margin-top:1em;
}

.box2 {
    color:white;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

    line-height: 1.1em;
    padding-left:0.4em;

    margin-top:1em;
    border: 0.2em white dotted;
}

/*ability to get all h1 tags inside a class*/
.box1 h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*below are more examples of getting individual tags and changing the style, very artistic.*/

/*margin is outside space of element, border is border, padding is inside element*/
.categories{
    color:white;
    border:0.2em white solid;
    border-radius:1em;
    padding-right:1em;
    margin-top:1em;
}

.categories h2{
    text-align:center;
}

.categories ul{
    padding-left:0.4em;
    list-style: none;
}

/*select all links in the page*/
a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:red;
}

a:active{
    color:red;
}

.categories li{
    padding-bottom:0.4em;
    border-bottom:dotted 0.1em;
    
    /*list-style-image:url(../images/whatever.png); <-- you can change the dots on the list to an image!*/
}

.my-form{
    margin-top:1em;
    border:0.2em white solid;

    padding-left:0.4em;
    padding-top:1em;
    padding-bottom:1em;
    margin-top:1em;
}

.my-form .form-group{
    color:white;
    padding-bottom:1em;
    text-align: center;
}

.my-form label{
    display:block;
    text-align: center;
}

.my-form input[type="text"]{
    width:100px;
    text-align: center;
}

/*buttoons, are cool, but very minimal to customize*/
.my-form input[type="button"]{
    background-color:red;
    padding:1em 1em;
    border:none;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}

/*change button based on state!*/
.my-form input[type="button"]:hover{
    background-color:red;
    color:white;
    padding:1em 1em;
}

.my-form input[type="button"]:active{
    background-color:white;
    color:black;
    padding:1em 1em;
}

.block{
    color:white;
    float:left;
    width:33.3%;
    margin-top:0.4em;
    border:1px solid;
    padding:1em;
    box-sizing:border-box;
}

/*#'s are used to reference ids*/
#main-block{
    color:white;
    float:left;
    width:70%;
}

#sidebar{
    color:white;
    float:right;
    width:30%;
}

/*demonstrate positioning*/
.p-box{
    color:white;
    width:800px;
    height:500px;
    border:0.1em solid white;
    background-image:url('https://ak.picdn.net/shutterstock/videos/9569417/thumb/1.jpg'); /*yes, you can add images in css*/

    /*background-position, you can move image in div*/
}

.p-box h2{
    position:relative; /*absolute is absolute position on screen / page*/
    top:100px; /*100px's relative to the divs size*/
}

.p-box p{
    position:relative; /*apparently not for paragraphs? i played around with it, but it should be relatively the same.*/
    bottom:-100px;
    right:-100px;
}


/*demonstrate targetting in a list*/
/*order of stylesheet is important when changing styles inside a class*/
.my-list li{
    color:white;
}

.my-list li:first-child{
    background:red;
}

.my-list li:nth-child(even){
    background:grey;
}

.my-list li:last-child{
    background:blue;
}

.my-list li:nth-child(5){
    background:yellow;
}

/*put header box inside container to do stuff with*/
.container {
    width:80%;
    margin:auto;
}
